
/* Background  img src = "{{ url_for('static', filename= '1.jpeg') }}";*/

a {
    color: white;
  }

a:link {
    text-decoration: none;
}

/* Propiedades de texto */

.title {
    text-align: center;
    font-size: xx-large;
}

/* img */

.img_container {
    text-align: center;
  }

/*Parrafo */

.paragraph {
    font-size: x-large;
    text-align: center;
    margin-left: calc(28% - 200px);
    margin-right: calc(28% - 200px);
}

.subtitle {
    font-size: x-large;
    padding: 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #071727;
    color: rgb(255, 255, 255);
    height: 50px;
    border: 1px solid #727277c5;
    font-size: large;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .logotipo {
    display: flex;
    align-items: center;
  }
  
  .logotipo img {
    height: 55px;
    width: auto;
  }
  
  .navbar-nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-link {
    margin-right: 30px;
    text-decoration: none;
    color: inherit;
  }
  
  .nav-link:last-child {
    margin-right: 60px;
  }
  
  
/*botones */

.row {
    text-align: center;
}

.boton {
    padding: 10px 20px;
    background-color: #033da8;
    color: #333;
    border: 2px solid#3333337e;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.1s;
    width: 20%;
    
}

.boton:hover {
    background-color: #0a018f;
    color: #fff;
}

a.boton {
    text-decoration: none;
}

/* Propiedades del footer */
.footer {
    text-align: center;
    padding: 50px;
    font-size: large;
}

.list-inline li {
    display: inline;
    justify-content: space-between;
    margin-right: 20px;
}

.copyright {
    color: grey;
    font-size: 10px;
}



/* center of images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  /* iframe styling */ 

.frame {
  box-shadow: inset 4px 4px 4px rgba(122, 113, 113, 0.966);
}


:root {
    --primary: #f1f1f1;
    --secondary: #2a2df5;
    --dark: #212121;
    --light: #F3F3F3;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, #dae9fa 0% 65%, #76abfc 95% 100%);
  }

  h1 {
    text-align: center;
    
  }

  h3 {
    color: black;
    font-family: 'Alegreya Sans', sans-serif;
  }

label {
  margin-right: 10px;
}

