
/* Background  img src = "{{ url_for('static', filename= '1.jpeg') }}";*/

a {
    color: white;
  }

a:link {
    text-decoration: none;
}

/* Propiedades de texto */

.title {
    text-align: center;
    font-size: xx-large;
}

/* img */

.img_container {
    text-align: center;
  }

/*Parrafo */

.paragraph {
    font-size: x-large;
    text-align: center;
    margin-left: calc(28% - 200px);
    margin-right: calc(28% - 200px);
}

.subtitle {
    font-size: x-large;
    padding: 0px;
}

/* Navigation bar */
.navbar {
    text-align: left;
    color: rgb(255, 255, 255);
    background-color: black;
    text-decoration: none;
    height: 50px;
    border: 1px solid #727277c5;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    margin-right: 40px;
    position: fixed;
    top: 0;
    width: 100%;
}


.nav-link {
    margin-right: 10px;  
}

.logonav {
    position: absolute;
    top: 0;
    right: 20px; 
    height: 40px; 
  }

.logonav img {
    width: 50px; 
    height: auto; 
  }

/*botones */

.row {
    text-align: center;
}

.boton {
    padding: 10px 20px;
    background-color: #033da8;
    color: #333;
    border: 2px solid#3333337e;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.1s;
    width: 20%;
    
}

.boton:hover {
    background-color: #0a018f;
    color: #fff;
}

a.boton {
    text-decoration: none;
}

/* Propiedades del footer */
.footer {
    text-align: center;
    padding: 50px;
    font-size: large;
}

.list-inline li {
    display: inline;
    justify-content: space-between;
    margin-right: 20px;
}

.copyright {
    color: grey;
    font-size: 10px;
}



/* center of images */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }


  /* iframe styling */

.iframe {
    border: blue;
    border-radius: 12px;
    border-top: #c00 1px dotted;
    border-right: #c00 2px dotted;
    border-left: #c00 2px dotted;
    border-bottom: #c00 4px dotted;
}




:root {
    --primary: #f1f1f1;
    --secondary: #2a2df5;
    --dark: #212121;
    --light: #F3F3F3;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
  }