!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <link rel="stylesheet" type="text/css" href="../Static/css/main.css">
    
    <title>Buenas Prácticas Ganaderas</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="C:\Users\Usuario\Documents\GitHub\Ovejas_BPG_Web_app\Templates\index.html" style="text-decoration: none; color: inherit;"> Inicio</a>
          <a class="nav-link" href="C:\Users\Usuario\Documents\GitHub\Ovejas_BPG_Web_app\Templates\aprende.html" style="text-decoration: none; color: inherit;"> Aprende</a>
          <a class="nav-link" href="C:\Users\Usuario\Documents\GitHub\Ovejas_BPG_Web_app\Templates\lista.html" style="text-decoration: none; color: inherit;"> Lista de chequeo</a>
          <a class="nav-link" href="C:\Users\Usuario\Documents\GitHub\Ovejas_BPG_Web_app\Templates\acerca_de.html" style="text-decoration: none; color: inherit;"> Acerca de </a>
        </div>
      </div>
    </div>
  </nav>
  <br/>

<main>
    
    <section>
        <br>
        <div id="Bienvenida">
            <!-- <h1 class="title">DiagnOvino Web App</h1> -->
            <div class="img_container">
            <img src="C:\Users\Usuario\Desktop\Web_app_BPG\Static\logo11.png" alt="logo" class="logo">
            </div>
        <br>
            <p class="paragraph">
                El presente proyecto fue realizado por <a href="https://scholar.google.com/citations?user=GdVBdHgAAAAJ&hl=es" style="color: rgb(21, 18, 202);"> Rick Obrian Hernandez </a>, Médico Veterinario, Especialista en gestion
                de proyectos, Magister en Ciencias Veterinarias y estudiante de Doctorado en Animal Sciences en Purdue University, 
                en la busqueda de brindar herramientas gratuitas a los pequeños productores ovinos y caprinos para 
                identificar de manera sencilla su nivel de implementación de la legislación colombiana de Buenas Prácticas
                Ganaderas ovino-caprinas. 
            
                La idea del presente proyecto surge como resultado de proyecto aplicado para optar por el titulo de 
                especialista en gestión de proyectos en la Universidad Nacional Abierta y a Distancia UNAD
            </p>
        </div>
        <br/>
    </section>
    <section>
    
</main>
</body>

<div class="footer">
    <footer>
        <ul class="list-inline">
        <li class="list-inline-item"><a href="inicio" style="color: black;">Inicio</a></li>
        <li class="list-inline-item"><a href="indicadores" style="color: black;">Indicadores</a></li>
        <li class="list-inline-item"><a href="lista" style="color: black;">Lista</a></li>
        <li class="list-inline-item"><a href="acerca_de" style="color: black;">Acerca de</a></li>
        </ul>
    <p class="copyright">Rick O'brian Hernandez © 2022</p>
</footer>
</div>
</body>
</html>
