<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
     <link rel="stylesheet" type="text/css" href="../Static/css/main.css">
    
    <title>Buenas Prácticas Ganaderas</title>
  </head>
  <body>
    <nav class="navbar">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="inicio" style="text-decoration: none; color: inherit;"> Inicio</a>
              <a class="nav-link" href="indicadores" style="text-decoration: none; color: inherit;"> Indicadores</a>
              <a class="nav-link" href="lista" style="text-decoration: none; color: inherit;"> Lista de chequeo</a>
              <a class="nav-link" href="C:\Users\Usuario\Desktop\Web_app_BPG\Templates\acerca_de.html" style="text-decoration: none; color: inherit;"> Acerca de </a>
            </div>
          </div>
        </div>
      </nav>
  <br/>

<main>
    
    <section>
        <br>
        <div id="Bienvenida">
            <!-- <h1 class="title">DiagnOvino Web App</h1> -->
            <div class="img_container">
            <img src="C:\Users\Usuario\Desktop\Web_app_BPG\Static\logo11.png" alt="logo" class="logo">
            </div>
        <br>
            <p class="paragraph">
                Esta es una página gratuita para obtener un diagnostico preliminar de la
                implementación de <strong>Buenas Prácticas Ganaderas Ovinas/Caprinas</strong>,
                en tu sistema productivo de ovejas en sistemas extensivos ¡Pruebala!
            </p>
        </div>
        <br/>
    </section>
    <section>
    
  <div class="row">
    
  <div class="col-sm-4" style="background-color:rgba(211, 211, 211, 0.089);">
      <p><center><h3 class="subtitle"> Paso 1. Aprende</h3></center></p>
      <br>
      <p><center> Aprende acerca de las BPG ovinas </center></p>
      <br>
      <button class="boton"> <center><a href="indicadores">Click Aqui </a></center> </button>
  </div>
  <br>
  <div class="col-sm-4" style="background-color:none;"> 
      <p><center><h3 class="subtitle"> Paso 2. Calcula</h3></center></p>
      <br>
      <p><center> Ingresa los datos de tu finca y usa la calculadora </center></p>
      <br>
      <button class="boton"> <center><a href="lista">Click Aqui </a></center> </button>
  </div>
  <br>
  <div class="col-sm-4" style="background-color:rgba(211, 211, 211, 0.089);"> 
      <p><center><h3 class="subtitle">Paso 3. Conoce mas</h3></center></p>
      <br>
      <p><center>Conoce mas del proyecto de fortalecimiento de pequeños productores </center></p>
      <br>
      <button class="boton"> <center><a href="acerca_de">Click Aqui </a></center> </button>
  </div>
  <br>
  
  </div>
    </section>

</main>
</body>

<div class="footer">
    <footer>
        <ul class="list-inline">
        <li class="list-inline-item"><a href="inicio" style="color: black;">Inicio</a></li>
        <li class="list-inline-item"><a href="indicadores" style="color: black;">Indicadores</a></li>
        <li class="list-inline-item"><a href="lista" style="color: black;">Lista</a></li>
        <li class="list-inline-item"><a href="C:\Users\Usuario\Desktop\Web_app_BPG\Templates\acerca_de.html" style="color: black;">Acerca de</a></li>
        </ul>
    <p class="copyright">Rick O'brian Hernandez © 2022</p>
</footer>
</div>
</body>
</html>
